dist
build
node_modules
package-lock.json
migrate.sh
*/dev.js
data/*
executables/*
namespace/*
config/*
.env
taskStateInfoKeypair.json
localKOIIDB
my_test_db
twitter-db
.DS_Store
localKOIIDB.db
migrate.sh
data.json
dataList.json
bodyHTML.html
passwordHTML.html 
usernameHTML.html
tests/test-get-json-cid.js
puppeteer_cache_koii_twitter_archive
adapters/twitter/puppeteer_cache_koii_twitter_ck_archive
adapters/twitter/puppeteer_cache_koii_twitter_archive
adapters/twitter/puppeteer_cache_koii_twitter_archive_audit